<%- include('../includes/head.ejs') %>
<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div style="transform: translateY(25%); ">
            <br>

            <div class="w-75 mx-auto">
                <div class="alert alert-primary fade show text-center" role="alert">
                    <div>
                       <h2>Password Reset Link Sent To Your Mail</h2>
                    </div>
                  </div>
            </div>
            <br>
             
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>
